#global-navi {
    background:#c08c5b;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    z-index: 1;
}

#wrapper nav {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px 15px 28px;
}

.btn-square {
    position: fixed;
    top: 80px;
    right: 20px;
    display: inline-block;
    padding: 1px 3px;
    text-decoration: none;
    background: #c08c5b;/*ボタン色*/
    color: rgb(255, 255, 255);
    z-index: 1;
}

.btn-tuika {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: inline-block;
    padding: 1px 3px;
    text-decoration: none;
    background: #c08c5b;/*ボタン色*/
    color: rgb(255, 255, 255);
    z-index: 1;
}

.foot {
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 0px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
    width: 100%;
    background-color:#c08c5b;
    color:#fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.md-body {
    height: 100%;
    position: relative;
    z-index: 0;
}

.md {
    height: 100%;
}

.md-mv {
    width: 100%;
    height: 100%;
}

/*Cartのスタイル*/

.cart {
    height: 50%;
    position: fixed;
    bottom: -50%;
    left: 0;
    z-index: 2;
    transition: bottom 0.4s cubic-bezier(0.5, 0, 0.75, 0);
}

.cart-open {
    bottom: 0%;
}

.btn-cart {
    left: 30px;
    bottom: 0px;
    display: inline-block;
    width: 40%;
    height: 40px;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    background: #c08c5b;/*ボタン色*/
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 100%;
}

.btn-cart:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 40px solid #c08c5b;
}

.btn-cart:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #c08c5b;
}

.cart-body {
    padding: 0 10px;
    height: 100%;
}

.cart-list {
    height: 100%;
    border: 3px solid #c08c5b;
    padding: 20px 20px;
    background-color: white;
    overflow: scroll;
}

.cart-item {
    display: flex;
    margin: 0 0 30px;
}

.cart-item:last-child {
    margin: 0;
}

.cart-img {
    width: 40%;
}

.cart-detail {
    width: 60%;
    padding: 0 0 0 20px;
}

.cart-title {
    font-size: 16px;
    letter-spacing: 1em;/*文字の間隔・カーニング*/
}

/*descriptionのスタイル*/
.description {
    z-index: 2;
    height: 50%;
    bottom: -50%;
    right: 0;
    position: fixed;
    transition: bottom 0.4s cubic-bezier(0.5, 0, 0.75, 0);
}

.description-open {
    bottom: 0%;
}

.btn-description {
    right: 30px;
    bottom: 0px;
    display: inline-block;
    width: 40%;
    height: 40px;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    background: #8f643d;/*ボタン色*/
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 2;
    bottom: 100%;
}

.btn-description:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 40px solid #8f643d;
}

.btn-description:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #8f643d;
}

.description-body {
    margin: 0 10px;
    height: 100%;
    border: 3px solid #8f643d;
    background-color: white;
    overflow: scroll;
}
